#demi-gold-content {
  margin-top: 10px;
}

#demi-gold-client-type-selection {
  width: calc(100% - 10px);
  padding: 5px;
  margin: 10px 5px;
  font-size: 20px;
  font-weight: 500;
}

.client {
  position: relative;
  padding: 0 10px 0 10px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  background: #fffa8a;
}

.client-container {
  position: relative;
  display: inline-block;
}

.client-image-container {
  border: 2px solid grey;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 6px;
  width: 204px;
  height: 204px;
  text-align: center;
  background: #e8e6e6;
  overflow: hidden;
}

.client-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.client-information {
  float: right;
  width: 258px;
}
.price-tag {
  float: right;
}
.transaction-type {
  padding: 3px 6px;
  border-bottom: 1px solid;
  color: white;
  height: 19px;
}
.incoming-transaction {
  background: #33aa28;
}
.outgoing-transaction {
  background: #ef6464;
}
.client-information .transaction-type:nth-child(2) {
  border-radius: 5px 5px 0 0;
}
.round-lower-border {
  border-radius: 0 0 5px 5px;
}
.delete-icon {
  position: absolute;
  top: 12px;
  right: 0;
  width: 32px;
  height: 32px;
  background: red;
  border: 1px solid red;
  border-radius: 50%;
}

@media only screen and (min-width: 1041px) {
  .client {
    width: 478px;
    display: inline-block;
  }
}

.delete-icon:hover {
  background: white;
}
.delete-icon:hover:before,
.delete-icon:hover:after {
  background: red;
}
.delete-icon:before,
.delete-icon:after {
  position: absolute;
  top: 3.5px;
  left: 14px;
  content: " ";
  height: 25px;
  width: 4px;
  background-color: white;
  border-radius: 5px;
}
.delete-icon:before {
  transform: rotate(45deg);
}
.delete-icon:after {
  transform: rotate(-45deg);
}

.upload-profile-picture {
  position: absolute;
  width: 40px;
  height: auto;
  right: 2px;
  opacity: 0.5;
}

.upload-profile-picture:hover {
  opacity: 1;
}

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.employee {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 10px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px;
  background: #fffa8a;
  min-width: 222px;
}

.employee-delete-icon{
  right: 10px;
  top: 10px;
}

.employee-image-container {
  width: calc(100% - 4px);
}

.employee-profile-picture-upload {
  right: 12px;
}

.given-to-employee {
  margin-bottom: 10px;
}

.round-border {
  border-radius: 5px;
}

@media only screen and (max-width: 785px) {
  .employee {
    width: calc(100% / 2 - 34px);
  }
}

@media only screen and (min-width: 785px) {
  .employee {
    width: calc(100% / 3 - 34px);
  }
}

@media only screen and (min-width: 1041px) {
  .employee {
    width: calc(100% / 4 - 34px);
  }
}